body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #2c2c2c;
}

header {
  background: #e60000;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

nav {
  background: #000; /* Black background */
  padding: 18px 0;
  text-align: center;
  box-shadow: 0 2px 12px rgba(44, 44, 44, 0.08);
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1000px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card {
  width: 500px;
  margin: auto;
  padding: 25px;

  text-align: center;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-text {
  opacity: 0;
  animation: fadeSequence 1.5s forwards;
}

.fade-text.delay {
  animation-delay: 1.0s;
}

@keyframes fadeSequence {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.menu {
  margin-top: 25px;
  opacity: 0;
  animation: showMenu 1s forwards;
  animation-delay: 0.5s;
}

@keyframes showMenu {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu a {
  display: block;
  background: #e60000;
  color: #fff;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  background: #b50000;
}

footer {
  text-align: center;
  padding: 15px;
  background: #e60000;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}




